.header {
  background-color: #000000;
  color: white;
  padding: 20px 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 500px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1a73e8;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0f57d9;
}
