.header {
  background-color: #3c00ff;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
